# Anotações pessoais/Temporárias
a.txt
Comandos do terminal.txt

# Arquivos compilados Java
*.class

# Arquivos compactados
*.zip

# Executáveis
*.exe

# Arquivos pdf
*.pdf

# Mídias usadas apenas para testes locais de JavaFX
*.jpg
*.gif
*.mp4